html {
  @include box(100%);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
  }

  html,
  body {
    @include box(100%);
    font-family: sans-serif;
    background-color: lightblue;

    #root {
      @include box(100%);

      .app {
        @include box(100%);
        @include flex(cn);

        .navbar {
          @include box(100%, 4rem);
          @include flex(rn, space-around);
          @include fxd-position(0%);
          background-color: bisque;
          z-index: 1;
        }

        .active {
          color: red;
        }

        .home {
          @include box(100%);
          @include flex(rn);
        }
      }
    }
  }
}
