.hangman {
  @include rel-position(2rem);
  @include box(min-content);
  @include flex(cn);
  background-color: white;
  @include border();

  h1 {
    @include fxd-position(10%);
    white-space: nowrap;
  }

  .hangman-wrapper {
    @include box(20rem, 25rem);
    @include flex(cn);
    background-color: white;
    user-select: none;
  }

  button {
    @include button(true, lightcyan) {
      width: 12rem;
      height: 3rem;
      font-size: 2rem;
    }
    @include rel-position(-3rem);
  }

  .guess {
    @include text(true) {
      width: 3.5rem;
      height: 3rem;
      font-size: 1.75rem;
      text-align: center;
      @include rel-position(-4rem);
    }

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .correct-guesses {
    @include box(100%, 5rem);
    @include flex(rn);
    column-gap: 1rem;

    .chars {
      @include box(3rem, 3rem);
      text-align: center;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid black;
    }
  }
}
