.motivational-poster {
  @include rel-position(3rem);
  @include box(min-content);
  @include flex(cn);

  h1 {
    position: fixed;
    top: 10%;
  }

  .poster-wrapper {
    @include rel-position();

    .poster {
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
      filter: brightness(95%);
    }

    .quote {
      @include abs-position($bottom: 3%);
      max-width: 100%;
      @include padding(2rem);
      color: white;
      font-weight: 900;
      font-size: 2rem;
      text-align: center;
      text-shadow: 1px 1px 2px black;

      .loading {
        @include abs-position(-50%, 50%);
        transform: translate(38%, -50%);
        white-space: nowrap;
        z-index: 2;
      }
    }

    .author {
      padding-left: 1rem;
    }
  }

  .refresh {
    @include button();
    @include fxd-position(null, null, 2rem);
  }
}
